<h1>{{title}}</h1>
<form method="post">
    <fieldset>
        <label class="control-label col-2" for="name">Name: *</label>
        <input name="name" id="name" required value="{{landmark.name}}" />
    </fieldset>
    <fieldset>
        <label class="control-label col-2" for="location">Location: *</label>
        <input name="location" id="location" required value="{{landmark.location}}" />
    </fieldset>
    <fieldset>
        <label class="control-label col-2" for="description">Description: </label>
        <textarea name="description" id="description">{{landmark.description}}</textarea>
    </fieldset>
    <fieldset>
        <label class="control-label col-2">File: </label>
            <input type="file" name="upload" enctype="multipart/form-data" multiple="multiple" value="{{landmark.image}}"/>
    </fieldset>
    <button type="submit" class="btn btn-success offset-2">Save</button>
</form> 